USE [master]
GO
/****** Object:  Database [ASP]    Script Date: 17-10-2025 17:07:43 ******/
CREATE DATABASE [ASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASP]
GO
/****** Object:  Schema [HangFire]    Script Date: 17-10-2025 17:07:43 ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[AssetMaster]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetMaster](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[AssetName] [nvarchar](150) NOT NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetQuantities]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetQuantities](
	[AssetQuantityID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[WarrantyExpiryDate] [date] NOT NULL,
	[IsQRIssued] [bit] NULL,
	[IsExpired] [bit] NULL,
	[ModifiedDate] [datetime] NULL,
	[BuildingID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetQuantityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetType]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetType](
	[AssetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AssetType] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[BuildingID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentralAccountant]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralAccountant](
	[CACCID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[EmailID] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Budget] [decimal](18, 2) NULL,
	[CentralAccountantID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentralAuditor]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralAuditor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuditorID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[EmailID] [nvarchar](100) NULL,
	[University] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentralPurchaseDepartment]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralPurchaseDepartment](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CentralAccountantID] [int] NULL,
	[Budget] [decimal](18, 2) NULL,
	[CITID] [int] NULL,
	[CentralDepartmentName] [nvarchar](max) NULL,
	[CentralDepartmentPhone] [varchar](100) NULL,
	[CentralDepartmentEmail] [nvarchar](255) NULL,
	[CentralDepartmentAddress] [nvarchar](200) NULL,
	[CentralID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentralPurchaseOrder]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralPurchaseOrder](
	[PONumber] [int] IDENTITY(1,1) NOT NULL,
	[PODate] [datetime] NULL,
	[CentralDepartmentName] [nvarchar](255) NULL,
	[CentralDepartmentAddress] [nvarchar](255) NULL,
	[CentralDepartmentPhone] [nvarchar](50) NULL,
	[CentralDepartmentEmail] [nvarchar](100) NULL,
	[RequisitionNo] [nvarchar](100) NULL,
	[ShipTo] [nvarchar](255) NULL,
	[RequisitionedBy] [nvarchar](100) NULL,
	[WhenShip] [nvarchar](50) NULL,
	[ShipVia] [nvarchar](100) NULL,
	[FOBPoint] [nvarchar](100) NULL,
	[Terms] [nvarchar](100) NULL,
	[CopiesOfInvoice] [int] NULL,
	[AuthorizedBy] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[StoreUploads] [nvarchar](500) NULL,
	[PurchaseDepartmentUploads] [nvarchar](500) NULL,
	[Statement] [nvarchar](500) NULL,
	[SummarizerID] [nvarchar](50) NULL,
	[CentralAccountantID] [nvarchar](50) NULL,
	[IUCDApprovalDoc] [nvarchar](500) NULL,
	[IUCDDocUploadedDate] [datetime] NULL,
	[IUCDDocUploadedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PONumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentralPurchaseOrderItems]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralPurchaseOrderItems](
	[POItemID] [int] IDENTITY(1,1) NOT NULL,
	[PONumber] [int] NULL,
	[QtyOrdered] [int] NULL,
	[QtyReceived] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[VendorEmail] [nvarchar](100) NULL,
	[Remarks] [nvarchar](255) NULL,
	[AcceptedQty] [int] NULL,
	[RejectedQty] [int] NULL,
	[Unit] [nvarchar](50) NULL,
	[Make] [nvarchar](100) NULL,
	[ExpiryDate] [date] NULL,
	[SummarizerID] [nvarchar](100) NULL,
	[Statement] [nvarchar](100) NULL,
	[CentralAccountantID] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[POItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentralVendorDetails]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralVendorDetails](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[EmailID] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Material] [nvarchar](100) NULL,
	[PricePerUnit] [decimal](10, 2) NULL,
	[Address] [nvarchar](255) NULL,
	[VendorID] [int] NULL,
	[GSTNO] [nvarchar](100) NULL,
	[PanNumber] [nvarchar](100) NULL,
	[VendorName] [varchar](100) NULL,
	[GSTPercentage] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIT]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Centre] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepID] [int] NOT NULL,
	[DepName] [nvarchar](255) NOT NULL,
	[DepShortName] [nvarchar](50) NOT NULL,
	[UniversityID] [int] NOT NULL,
 CONSTRAINT [PK__Departme__DB9CAA7F04868A23] PRIMARY KEY CLUSTERED 
(
	[DepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Emp1] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmailID] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[DepName] [nvarchar](255) NOT NULL,
	[HODID] [nvarchar](100) NOT NULL,
	[DepID] [int] NOT NULL,
	[UniversityID] [int] NOT NULL,
	[EmpID] [nvarchar](100) NULL,
 CONSTRAINT [PK__Employee__DCB4BA89FF41661C] PRIMARY KEY CLUSTERED 
(
	[Emp1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeIssueMaterial]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeIssueMaterial](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[EmpID] [nvarchar](255) NULL,
	[HODID] [nvarchar](255) NULL,
	[AssetType] [nvarchar](100) NOT NULL,
	[MaterialCategory] [nvarchar](100) NOT NULL,
	[MaterialSubCategory] [nvarchar](100) NOT NULL,
	[RequestingQuantity] [int] NOT NULL,
	[ApprovedQuantity] [int] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[IssuingQuantity] [int] NOT NULL,
	[ClosingQuantity] [int] NOT NULL,
	[IssuedDate] [datetime2](7) NOT NULL,
	[IssuedBy] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[PreviousIssuingQuantity] [int] NULL,
	[Issue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOD]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOD](
	[Hod1] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmailID] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[DepName] [nvarchar](255) NOT NULL,
	[DepID] [int] NOT NULL,
	[UniversityID] [int] NOT NULL,
	[HODID] [nvarchar](100) NULL,
 CONSTRAINT [PK__HOD__6D30BBF9E1358F2E] PRIMARY KEY CLUSTERED 
(
	[Hod1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HODIssueMaterials]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HODIssueMaterials](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[HODID] [nvarchar](55) NULL,
	[AssetType] [nvarchar](100) NULL,
	[MaterialCategory] [nvarchar](100) NULL,
	[MaterialSubCategory] [nvarchar](100) NULL,
	[RequestingQuantity] [int] NULL,
	[AvailableQuantity] [int] NULL,
	[IssuingQuantity] [int] NULL,
	[ClosingQuantity] [int] NULL,
	[IssuedDate] [datetime] NULL,
	[IssuedBy] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[PreviousIssuingQuantity] [int] NULL,
	[Issue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HODRequest]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HODRequest](
	[SNO] [int] IDENTITY(1,1) NOT NULL,
	[HODID] [nvarchar](255) NULL,
	[AssetType] [nvarchar](255) NOT NULL,
	[MaterialCategory] [nvarchar](255) NOT NULL,
	[MSubCategory] [nvarchar](255) NOT NULL,
	[RequestingQuantity] [int] NOT NULL,
	[IssuingQuantity] [int] NULL,
	[RequestedDate] [datetime] NULL,
	[StoreAdminID] [nvarchar](255) NULL,
	[PendingQuantity] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[HODRequestID] [int] NULL,
	[AvailableQuantity] [int] NULL,
	[IssuedBy] [nchar](100) NULL,
	[IssuedDate] [datetime] NULL,
	[ClosingQuantity] [int] NULL,
	[Remarks] [nvarchar](300) NULL,
	[UniversityID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssuedQRDetails]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuedQRDetails](
	[QRID] [nvarchar](50) NOT NULL,
	[RequestID] [int] NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[MaterialSubCategory] [nvarchar](100) NULL,
	[TotalIssuedQty] [int] NULL,
	[VendorDetails] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IUCD ]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IUCD ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SummarizerID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[EmailID] [nvarchar](100) NULL,
	[Budget] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalAccountant]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalAccountant](
	[LACCID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityID] [int] NOT NULL,
	[FirstName] [char](50) NULL,
	[LastName] [char](50) NULL,
	[EmailID] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](100) NULL,
	[Budget] [decimal](18, 2) NULL,
	[LocalAccountantID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalAuditor]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalAuditor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuditorID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[EmailID] [nvarchar](100) NULL,
	[UniversityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalPurchaseDepartment]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalPurchaseDepartment](
	[LID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityID] [int] NOT NULL,
	[LocalAccountantID] [int] NULL,
	[EmailID] [nvarchar](50) NULL,
	[Budget] [decimal](18, 2) NULL,
	[LocalID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](255) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[EmailID] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialAvailable]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialAvailable](
	[MaterialStockID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](500) NULL,
	[VendorName] [nvarchar](200) NULL,
	[VendorPhoneNumber] [nvarchar](15) NULL,
	[VendorEmail] [nvarchar](200) NULL,
	[ReceivedQty] [decimal](18, 2) NOT NULL,
	[AvailableQty] [decimal](18, 2) NOT NULL,
	[Make] [nvarchar](100) NULL,
	[Unit] [nvarchar](50) NULL,
	[ExpiryDate] [date] NULL,
	[ReceivedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[UniversityID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialStockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialCategory]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialCategory](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialCategory] [nvarchar](255) NOT NULL,
	[AssetTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialMasterList]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialMasterList](
	[MasterListID] [int] IDENTITY(1,1) NOT NULL,
	[AssetType] [nvarchar](100) NOT NULL,
	[MaterialCategory] [nvarchar](100) NOT NULL,
	[MaterialSubCategory] [nvarchar](100) NOT NULL,
	[Units] [nvarchar](50) NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[MaterialUpdatedDate] [date] NOT NULL,
	[UpdatedBy] [nvarchar](100) NOT NULL,
	[MinimumLimit] [int] NOT NULL,
	[IsLowStockAlertSent] [bit] NOT NULL,
	[UniversityID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MasterListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialStock]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialStock](
	[MaterialStockID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[VendorID] [int] NULL,
	[ReceivedQty] [decimal](18, 2) NOT NULL,
	[AvailableQty] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Make] [nvarchar](100) NULL,
	[Unit] [nvarchar](50) NULL,
	[ExpiryDate] [date] NULL,
	[ReceivedDate] [datetime] NOT NULL,
	[PONumber] [nvarchar](50) NULL,
	[BatchNo] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialStockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSubCategory]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSubCategory](
	[MSubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialSubCategory] [nvarchar](255) NOT NULL,
	[MID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderItems]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderItems](
	[POItemID] [int] IDENTITY(1,1) NOT NULL,
	[PONumber] [int] NULL,
	[QtyOrdered] [int] NULL,
	[QtyReceived] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[VendorID] [int] NULL,
	[Remarks] [nvarchar](max) NULL,
	[VendorEmail] [nvarchar](500) NULL,
	[AcceptedQty] [int] NULL,
	[RejectedQty] [int] NULL,
	[Unit] [nvarchar](50) NULL,
	[Make] [nvarchar](100) NULL,
	[ExpiryDate] [date] NULL,
	[AuditorID] [nvarchar](50) NULL,
	[UniversityID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[POItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PONumber] [int] IDENTITY(1,1) NOT NULL,
	[PODate] [date] NULL,
	[UniversityName] [nvarchar](200) NULL,
	[UniversityAddress] [nvarchar](300) NULL,
	[UniversityPhone] [nvarchar](20) NULL,
	[UniversityEmail] [nvarchar](100) NULL,
	[RequisitionNo] [nvarchar](50) NULL,
	[ShipTo] [nvarchar](300) NULL,
	[RequisitionedBy] [nvarchar](100) NULL,
	[WhenShip] [nvarchar](100) NULL,
	[ShipVia] [nvarchar](100) NULL,
	[FOBPoint] [nvarchar](100) NULL,
	[Terms] [nvarchar](100) NULL,
	[CopiesOfInvoice] [int] NULL,
	[AuthorizedBy] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Remarks] [nvarchar](max) NULL,
	[StoreUploads] [nvarchar](500) NULL,
	[PurchaseDepartmentUploads] [nvarchar](500) NULL,
	[VendorName] [varchar](100) NULL,
	[VendorEmail] [nvarchar](100) NULL,
	[VendorAddress] [nvarchar](500) NULL,
	[VendorGSTNo] [nvarchar](100) NULL,
	[VendorGSTPercent] [nvarchar](50) NULL,
	[TotalQuantity] [int] NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[TermsConditions] [nvarchar](max) NULL,
	[Specification] [varchar](100) NULL,
	[PODetails] [varbinary](max) NULL,
	[MRVDetails] [nvarchar](500) NULL,
	[IUCDApprovalDoc] [nvarchar](500) NULL,
	[Statement] [nvarchar](500) NULL,
	[AuditorSentID] [nvarchar](50) NULL,
	[InvoiceDetails] [nvarchar](500) NULL,
	[CommityApprovedDoc] [nvarchar](500) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[PONumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[SNO] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [nvarchar](255) NULL,
	[AssetType] [nvarchar](100) NOT NULL,
	[MaterialCategory] [nvarchar](255) NOT NULL,
	[MSubCategory] [nvarchar](255) NOT NULL,
	[RequestingQuantity] [int] NOT NULL,
	[ApprovedQuantity] [int] NULL,
	[IssuingQuantity] [int] NULL,
	[RequestDate] [datetime] NULL,
	[HODID] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[StoreAdminID] [nvarchar](255) NULL,
	[RequestID] [int] NULL,
	[AvailableQuantity] [int] NULL,
	[PendingQuantity] [int] NULL,
	[Remarks] [char](300) NULL,
	[ClosingQuantity] [int] NULL,
	[IssuedDate] [datetime] NULL,
	[IssuedBy] [nvarchar](100) NULL,
	[Issue] [int] NULL,
	[UniversityID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavetoCentral]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavetoCentral](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LocalID] [nvarchar](55) NULL,
	[UniversityID] [int] NOT NULL,
	[CentralID] [nvarchar](55) NULL,
	[Material] [nvarchar](100) NOT NULL,
	[Order Quantity] [int] NOT NULL,
	[RequestedDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[PurchaseDepartmentUploads] [nvarchar](500) NULL,
	[IUCDID] [nvarchar](100) NULL,
	[IUCDApprovedQty] [int] NULL,
	[IUCDApprovalDoc] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreAdmin]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreAdmin](
	[SAID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmailID] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[UniversityID] [int] NOT NULL,
	[DepName] [nvarchar](255) NULL,
	[DepID] [int] NULL,
	[StoreAdminID] [nvarchar](100) NULL,
 CONSTRAINT [PK__StoreAdm__8895AA8949FB91A3] PRIMARY KEY CLUSTERED 
(
	[SAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Student1] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmailID] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[DepName] [nvarchar](100) NULL,
	[HODID] [int] NOT NULL,
	[DepID] [int] NOT NULL,
	[UniversityID] [int] NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Student1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempSelectedMaterials]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempSelectedMaterials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](55) NULL,
	[MaterialSubCategory] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[UniversityID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[University]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[University](
	[UniversityId] [int] IDENTITY(1,1) NOT NULL,
	[UniversityName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[UniversityPhone] [varchar](100) NULL,
	[UniversityEmail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UniversityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorDetails]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDetails](
	[VID] [int] IDENTITY(1,1) NOT NULL,
	[EmailID] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Material] [nvarchar](100) NULL,
	[PricePerUnit] [decimal](10, 2) NULL,
	[Address] [nvarchar](255) NULL,
	[UniversityID] [int] NULL,
	[VendorID] [int] NULL,
	[GSTNO] [nvarchar](100) NULL,
	[PanNumber] [nvarchar](100) NULL,
	[VendorName] [varchar](100) NULL,
	[GSTPercentage] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[AggregatedCounter]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[AggregatedCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_CounterAggregated] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Counter]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Counter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ExpireAt] [datetime] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HangFire_Counter] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Hash]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Hash](
	[Key] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK_HangFire_Hash] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Job]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Job](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[StateName] [nvarchar](20) NULL,
	[InvocationData] [nvarchar](max) NOT NULL,
	[Arguments] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobParameter]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobParameter](
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_JobParameter] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobQueue]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobQueue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) NOT NULL,
	[FetchedAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_JobQueue] PRIMARY KEY CLUSTERED 
(
	[Queue] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[List]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_List] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Schema]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Schema](
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_HangFire_Schema] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Server]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Server](
	[Id] [nvarchar](200) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[LastHeartbeat] [datetime] NOT NULL,
 CONSTRAINT [PK_HangFire_Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Set]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Set](
	[Key] [nvarchar](100) NOT NULL,
	[Score] [float] NOT NULL,
	[Value] [nvarchar](256) NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Set] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[State]    Script Date: 17-10-2025 17:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_State] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssetType] ON 

INSERT [dbo].[AssetType] ([AssetTypeID], [AssetType]) VALUES (1, N'Fixed')
SET IDENTITY_INSERT [dbo].[AssetType] OFF
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([BuildingID], [BuildingName], [Address], [CreatedDate], [CreatedBy]) VALUES (3, N'CIT', N'Punjagutta', CAST(N'2025-10-01T12:32:55.037' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Buildings] OFF
GO
SET IDENTITY_INSERT [dbo].[CentralAccountant] ON 

INSERT [dbo].[CentralAccountant] ([CACCID], [FirstName], [LastName], [EmailID], [PhoneNumber], [Budget], [CentralAccountantID]) VALUES (1, N'U', N'Pavan', N'artistsk1589@gmail.com', N'7412589630', CAST(150000.00 AS Decimal(18, 2)), N'IURCACC1')
SET IDENTITY_INSERT [dbo].[CentralAccountant] OFF
GO
SET IDENTITY_INSERT [dbo].[CentralAuditor] ON 

INSERT [dbo].[CentralAuditor] ([ID], [AuditorID], [FirstName], [LastName], [PhoneNumber], [EmailID], [University]) VALUES (1, N'2025AUDIT1', N'Raju', N'Malli', N'2547895614', N'shivaupputuri5@gmail.com', N'ICFAI University Hyderabad ')
SET IDENTITY_INSERT [dbo].[CentralAuditor] OFF
GO
SET IDENTITY_INSERT [dbo].[CentralPurchaseDepartment] ON 

INSERT [dbo].[CentralPurchaseDepartment] ([CID], [CentralAccountantID], [Budget], [CITID], [CentralDepartmentName], [CentralDepartmentPhone], [CentralDepartmentEmail], [CentralDepartmentAddress], [CentralID]) VALUES (1, 1, CAST(100000.00 AS Decimal(18, 2)), 1, N'ICFAI GROUP', N'42561-32456', N'himasaisankar0902@gmail.com', N'Punjagutta, Hyderabad - 501203, Telangana', N'IURCPD1')
SET IDENTITY_INSERT [dbo].[CentralPurchaseDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[CentralPurchaseOrder] ON 

SET IDENTITY_INSERT [dbo].[CentralPurchaseOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[CentralPurchaseOrderItems] ON 

INSERT [dbo].[CentralPurchaseOrderItems] ([POItemID], [PONumber], [QtyOrdered], [QtyReceived], [Description], [UnitPrice], [Total], [VendorEmail], [Remarks], [AcceptedQty], [RejectedQty], [Unit], [Make], [ExpiryDate], [SummarizerID], [Statement], [CentralAccountantID], [Status]) VALUES (1, 6, 20, 10, N'Chairs', CAST(150.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), NULL, N'LessQuantityreceived', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CentralPurchaseOrderItems] ([POItemID], [PONumber], [QtyOrdered], [QtyReceived], [Description], [UnitPrice], [Total], [VendorEmail], [Remarks], [AcceptedQty], [RejectedQty], [Unit], [Make], [ExpiryDate], [SummarizerID], [Statement], [CentralAccountantID], [Status]) VALUES (2, 7, 110, NULL, N'chairs', CAST(150.00 AS Decimal(18, 2)), CAST(16500.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CentralPurchaseOrderItems] ([POItemID], [PONumber], [QtyOrdered], [QtyReceived], [Description], [UnitPrice], [Total], [VendorEmail], [Remarks], [AcceptedQty], [RejectedQty], [Unit], [Make], [ExpiryDate], [SummarizerID], [Statement], [CentralAccountantID], [Status]) VALUES (3, 8, 110, 50, N'chairs', CAST(150.00 AS Decimal(18, 2)), CAST(7500.00 AS Decimal(18, 2)), NULL, N'LessQuantityreceived', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CentralPurchaseOrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CentralVendorDetails] ON 

INSERT [dbo].[CentralVendorDetails] ([CVID], [EmailID], [PhoneNumber], [Material], [PricePerUnit], [Address], [VendorID], [GSTNO], [PanNumber], [VendorName], [GSTPercentage]) VALUES (1, N'shivaupputuri5@gmail.com', N'9876543210', N'12 way SPN Electrical Distribution box', CAST(1000.00 AS Decimal(10, 2)), N'Hyderabad', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[CentralVendorDetails] ([CVID], [EmailID], [PhoneNumber], [Material], [PricePerUnit], [Address], [VendorID], [GSTNO], [PanNumber], [VendorName], [GSTPercentage]) VALUES (2, N'shivaupputuri5@gmail.com', N'9876543211', N'1x 18 watts 2'' Tube light', CAST(500.00 AS Decimal(10, 2)), N'Hyderabad', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[CentralVendorDetails] ([CVID], [EmailID], [PhoneNumber], [Material], [PricePerUnit], [Address], [VendorID], [GSTNO], [PanNumber], [VendorName], [GSTPercentage]) VALUES (3, N'shivaupputuri5@gmail.com', N'9876543212', N'2x 36 watts Tube light Box type fittings', CAST(1200.00 AS Decimal(10, 2)), N'Hyderabad', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CentralVendorDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[CIT] ON 

INSERT [dbo].[CIT] ([ID], [Centre], [Address]) VALUES (1, N'CIT Department', N'Punjagutta, Hyderabad')
SET IDENTITY_INSERT [dbo].[CIT] OFF
GO
INSERT [dbo].[Department] ([DepID], [DepName], [DepShortName], [UniversityID]) VALUES (1, N'Computer Science Engineering', N'CSE', 1)
INSERT [dbo].[Department] ([DepID], [DepName], [DepShortName], [UniversityID]) VALUES (2, N'Electrical Engineering', N'EE', 1)
INSERT [dbo].[Department] ([DepID], [DepName], [DepShortName], [UniversityID]) VALUES (3, N'Mechanical Engineering', N'ME', 2)
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Emp1], [FirstName], [LastName], [EmailID], [PhoneNumber], [DepName], [HODID], [DepID], [UniversityID], [EmpID]) VALUES (2, N'shiva', N'Upputuri', N'shivaupputuri5@gmail.com', N'9876543211', N'Computer Science Engineering', N'1', 1, 1, N'2')
INSERT [dbo].[Employee] ([Emp1], [FirstName], [LastName], [EmailID], [PhoneNumber], [DepName], [HODID], [DepID], [UniversityID], [EmpID]) VALUES (3, N'Althaf', N'Shaik', N'pradeepayyaluri808@gmail.com', N'9876543212', N'Civil Engineering', N'IURHOD2', 4, 2, N'IUREmp3')
INSERT [dbo].[Employee] ([Emp1], [FirstName], [LastName], [EmailID], [PhoneNumber], [DepName], [HODID], [DepID], [UniversityID], [EmpID]) VALUES (4, N'Hima', N'Adapa', N'himasaisankar0902@gmail.com', N'9876543213', N'Electrical Engineering', N'2', 2, 3, N'4')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeIssueMaterial] ON 

INSERT [dbo].[EmployeeIssueMaterial] ([IssueID], [RequestID], [EmpID], [HODID], [AssetType], [MaterialCategory], [MaterialSubCategory], [RequestingQuantity], [ApprovedQuantity], [AvailableQuantity], [IssuingQuantity], [ClosingQuantity], [IssuedDate], [IssuedBy], [Status], [PreviousIssuingQuantity], [Issue]) VALUES (1, 1, N'3', N'2', N'Physical', N'IT Equipment', N'Printers', 20, 20, 150, 20, -126, CAST(N'2025-03-19T17:43:54.3558882' AS DateTime2), N'2', N'Issued', NULL, NULL)
INSERT [dbo].[EmployeeIssueMaterial] ([IssueID], [RequestID], [EmpID], [HODID], [AssetType], [MaterialCategory], [MaterialSubCategory], [RequestingQuantity], [ApprovedQuantity], [AvailableQuantity], [IssuingQuantity], [ClosingQuantity], [IssuedDate], [IssuedBy], [Status], [PreviousIssuingQuantity], [Issue]) VALUES (2, 2, N'3', N'2', N'Physical', N'IT Equipment', N'Computers', 20, 20, 100, 20, 80, CAST(N'2025-03-20T11:12:14.3779558' AS DateTime2), N'2', N'Issued', NULL, NULL)
INSERT [dbo].[EmployeeIssueMaterial] ([IssueID], [RequestID], [EmpID], [HODID], [AssetType], [MaterialCategory], [MaterialSubCategory], [RequestingQuantity], [ApprovedQuantity], [AvailableQuantity], [IssuingQuantity], [ClosingQuantity], [IssuedDate], [IssuedBy], [Status], [PreviousIssuingQuantity], [Issue]) VALUES (3, 3, N'3', N'2', N'Physical', N'IT Equipment', N'Printers', 20, 10, 100, 8, 92, CAST(N'2025-03-20T11:27:14.5888488' AS DateTime2), N'2', N'Issued', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EmployeeIssueMaterial] OFF
GO
INSERT [dbo].[HOD] ([Hod1], [FirstName], [LastName], [EmailID], [PhoneNumber], [DepName], [DepID], [UniversityID], [HODID]) VALUES (N'1', N'Alex', N'Upputuri', N'pradeepayyaluri74@gmail.com', N'9876543211', N'Computer Science Engineering', 1, 1, N'1')
INSERT [dbo].[HOD] ([Hod1], [FirstName], [LastName], [EmailID], [PhoneNumber], [DepName], [DepID], [UniversityID], [HODID]) VALUES (N'2', N'Basheer', N'Shaik', N'althafsk2003@gmail.com', N'9876543212', N'Civil Engineering', 4, 2, N'IURHOD2')
INSERT [dbo].[HOD] ([Hod1], [FirstName], [LastName], [EmailID], [PhoneNumber], [DepName], [DepID], [UniversityID], [HODID]) VALUES (N'3', N'Naruto', N'Adapa', N'nandanendllu1507@gmail.com', N'9876543213', N'Electrical Engineering', 2, 3, N'3')
GO
SET IDENTITY_INSERT [dbo].[HODIssueMaterials] ON 

INSERT [dbo].[HODIssueMaterials] ([IssueID], [RequestID], [HODID], [AssetType], [MaterialCategory], [MaterialSubCategory], [RequestingQuantity], [AvailableQuantity], [IssuingQuantity], [ClosingQuantity], [IssuedDate], [IssuedBy], [Status], [PreviousIssuingQuantity], [Issue]) VALUES (1, 5, N'2', N'Physical', N'IT Equipment', N'Networking Devices ', 20, 100, 20, 80, CAST(N'2025-03-21T15:33:10.367' AS DateTime), N'2', N'Issued', NULL, NULL)
INSERT [dbo].[HODIssueMaterials] ([IssueID], [RequestID], [HODID], [AssetType], [MaterialCategory], [MaterialSubCategory], [RequestingQuantity], [AvailableQuantity], [IssuingQuantity], [ClosingQuantity], [IssuedDate], [IssuedBy], [Status], [PreviousIssuingQuantity], [Issue]) VALUES (2, 6, N'2', N'Physical', N'Office Furniture', N'Chairs', 10, 100, 10, 90, CAST(N'2025-04-22T17:15:41.003' AS DateTime), N'2', N'Issued', NULL, NULL)
INSERT [dbo].[HODIssueMaterials] ([IssueID], [RequestID], [HODID], [AssetType], [MaterialCategory], [MaterialSubCategory], [RequestingQuantity], [AvailableQuantity], [IssuingQuantity], [ClosingQuantity], [IssuedDate], [IssuedBy], [Status], [PreviousIssuingQuantity], [Issue]) VALUES (3, 7, N'2', N'Physical', N'IT Equipment', N'Computers', 2, 50, 1, 49, CAST(N'2025-04-22T16:14:51.123' AS DateTime), N'2', N'Issued', NULL, NULL)
SET IDENTITY_INSERT [dbo].[HODIssueMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[HODRequest] ON 

INSERT [dbo].[HODRequest] ([SNO], [HODID], [AssetType], [MaterialCategory], [MSubCategory], [RequestingQuantity], [IssuingQuantity], [RequestedDate], [StoreAdminID], [PendingQuantity], [Status], [HODRequestID], [AvailableQuantity], [IssuedBy], [IssuedDate], [ClosingQuantity], [Remarks], [UniversityID]) VALUES (1, N'2', N'1', N'2', N'36', 1, 0, CAST(N'2025-02-26T16:11:16.467' AS DateTime), N'2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HODRequest] ([SNO], [HODID], [AssetType], [MaterialCategory], [MSubCategory], [RequestingQuantity], [IssuingQuantity], [RequestedDate], [StoreAdminID], [PendingQuantity], [Status], [HODRequestID], [AvailableQuantity], [IssuedBy], [IssuedDate], [ClosingQuantity], [Remarks], [UniversityID]) VALUES (2, N'2', N'1', N'2', N'35', 1, 0, CAST(N'2025-02-26T16:12:09.280' AS DateTime), N'2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HODRequest] ([SNO], [HODID], [AssetType], [MaterialCategory], [MSubCategory], [RequestingQuantity], [IssuingQuantity], [RequestedDate], [StoreAdminID], [PendingQuantity], [Status], [HODRequestID], [AvailableQuantity], [IssuedBy], [IssuedDate], [ClosingQuantity], [Remarks], [UniversityID]) VALUES (3, N'2', N'2', N'6', N'48', 1, 0, CAST(N'2025-02-26T16:12:09.280' AS DateTime), N'2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HODRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[IUCD ] ON 

INSERT [dbo].[IUCD ] ([ID], [SummarizerID], [FirstName], [LastName], [PhoneNumber], [EmailID], [Budget]) VALUES (1, N'2025IUCD1', N'Ravi', N'Malli', N'2547895614', N'flute0782@gmail.com', CAST(100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[IUCD ] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalAccountant] ON 

INSERT [dbo].[LocalAccountant] ([LACCID], [UniversityID], [FirstName], [LastName], [EmailID], [PhoneNumber], [Budget], [LocalAccountantID]) VALUES (3, 1, N'U                                                 ', N'Shiva                                             ', N'abc@gmail.com', N'1234578960', CAST(100000.00 AS Decimal(18, 2)), N'3')
INSERT [dbo].[LocalAccountant] ([LACCID], [UniversityID], [FirstName], [LastName], [EmailID], [PhoneNumber], [Budget], [LocalAccountantID]) VALUES (4, 2, N'A                                                 ', N'Suresh                                            ', N'shivaupputuri5@gmail.com', N'1023457856', CAST(150000.00 AS Decimal(18, 2)), N'IURLACC4')
INSERT [dbo].[LocalAccountant] ([LACCID], [UniversityID], [FirstName], [LastName], [EmailID], [PhoneNumber], [Budget], [LocalAccountantID]) VALUES (5, 3, N'K                                                 ', N'Vamsi                                             ', N'hij@gmail.com', N'7894561230', CAST(100000.00 AS Decimal(18, 2)), N'5')
SET IDENTITY_INSERT [dbo].[LocalAccountant] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalPurchaseDepartment] ON 

INSERT [dbo].[LocalPurchaseDepartment] ([LID], [UniversityID], [LocalAccountantID], [EmailID], [Budget], [LocalID]) VALUES (3, 1, 3, N'uvw@gmail.com', CAST(100000.00 AS Decimal(18, 2)), N'3')
INSERT [dbo].[LocalPurchaseDepartment] ([LID], [UniversityID], [LocalAccountantID], [EmailID], [Budget], [LocalID]) VALUES (4, 2, 4, N'kurmalapravallika@gmail.com', CAST(100000.00 AS Decimal(18, 2)), N'IURLPD4')
INSERT [dbo].[LocalPurchaseDepartment] ([LID], [UniversityID], [LocalAccountantID], [EmailID], [Budget], [LocalID]) VALUES (5, 3, 5, N'ace@gmail.com', CAST(100000.00 AS Decimal(18, 2)), N'5')
SET IDENTITY_INSERT [dbo].[LocalPurchaseDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([LoginID], [UserID], [PasswordHash], [Role], [IsActive], [CreatedDate], [EmailID]) VALUES (3, N'IURHOD2 ', N'Password', N'HOD', 1, CAST(N'2025-02-21T15:44:12.263' AS DateTime), N'althafsk2003@gmail.com')
INSERT [dbo].[Logins] ([LoginID], [UserID], [PasswordHash], [Role], [IsActive], [CreatedDate], [EmailID]) VALUES (10, N'IUREmp3', N'Password', N'Employee', 1, CAST(N'2025-02-27T11:57:55.207' AS DateTime), N'pradeepayyaluri808@gmail.com')
INSERT [dbo].[Logins] ([LoginID], [UserID], [PasswordHash], [Role], [IsActive], [CreatedDate], [EmailID]) VALUES (18, N'IURStore2', N'Password', N'Admin', 1, CAST(N'2025-03-13T09:20:16.537' AS DateTime), N'flute0782@gmail.com ')
SET IDENTITY_INSERT [dbo].[Logins] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialAvailable] ON 

INSERT [dbo].[MaterialAvailable] ([MaterialStockID], [MaterialName], [VendorName], [VendorPhoneNumber], [VendorEmail], [ReceivedQty], [AvailableQty], [Make], [Unit], [ExpiryDate], [ReceivedDate], [ModifiedDate], [UniversityID]) VALUES (1, N'Dual Desk', N'RaviFurniture', NULL, N'info@ifheindia.org', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'HP', N'Number', CAST(N'2025-09-30' AS Date), CAST(N'2025-08-22T12:12:33.323' AS DateTime), NULL, 2)
INSERT [dbo].[MaterialAvailable] ([MaterialStockID], [MaterialName], [VendorName], [VendorPhoneNumber], [VendorEmail], [ReceivedQty], [AvailableQty], [Make], [Unit], [ExpiryDate], [ReceivedDate], [ModifiedDate], [UniversityID]) VALUES (2, N'Computer Set', N'Tech Haven', N'', N'shivaupputuri5@gmail.com', CAST(0.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), N'ABC', N'Numbers', CAST(N'2025-08-01' AS Date), CAST(N'2025-08-22T12:43:12.003' AS DateTime), NULL, 2)
INSERT [dbo].[MaterialAvailable] ([MaterialStockID], [MaterialName], [VendorName], [VendorPhoneNumber], [VendorEmail], [ReceivedQty], [AvailableQty], [Make], [Unit], [ExpiryDate], [ReceivedDate], [ModifiedDate], [UniversityID]) VALUES (3, N'Dual Desk', N'RameshFurnitures', N'9876543221', N'shivaupputuri5@gmail.com', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'ABC', N'Number', CAST(N'2025-08-14' AS Date), CAST(N'2025-08-22T16:09:18.657' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[MaterialAvailable] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialCategory] ON 

INSERT [dbo].[MaterialCategory] ([MID], [MaterialCategory], [AssetTypeID]) VALUES (1, N'Electrical', 1)
INSERT [dbo].[MaterialCategory] ([MID], [MaterialCategory], [AssetTypeID]) VALUES (2, N'Furniture', 1)
INSERT [dbo].[MaterialCategory] ([MID], [MaterialCategory], [AssetTypeID]) VALUES (3, N'IT', 1)
SET IDENTITY_INSERT [dbo].[MaterialCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialMasterList] ON 

INSERT [dbo].[MaterialMasterList] ([MasterListID], [AssetType], [MaterialCategory], [MaterialSubCategory], [Units], [AvailableQuantity], [MaterialUpdatedDate], [UpdatedBy], [MinimumLimit], [IsLowStockAlertSent], [UniversityID]) VALUES (1, N'Fixed', N'Electrical', N'12 way SPN Electrical Distribution box', N'Number', 90, CAST(N'2025-04-29' AS Date), N'2', 0, 0, 2)
INSERT [dbo].[MaterialMasterList] ([MasterListID], [AssetType], [MaterialCategory], [MaterialSubCategory], [Units], [AvailableQuantity], [MaterialUpdatedDate], [UpdatedBy], [MinimumLimit], [IsLowStockAlertSent], [UniversityID]) VALUES (2, N'Fixed', N'Electrical', N'1x 18 watts 2'' Tube light', N'Number', 45, CAST(N'2025-05-15' AS Date), N'IURStore2', 0, 0, 2)
INSERT [dbo].[MaterialMasterList] ([MasterListID], [AssetType], [MaterialCategory], [MaterialSubCategory], [Units], [AvailableQuantity], [MaterialUpdatedDate], [UpdatedBy], [MinimumLimit], [IsLowStockAlertSent], [UniversityID]) VALUES (3, N'Fixed', N'Electrical', N'2x 36 watts Tube light Box type fittings', N'Number', 51, CAST(N'2025-06-10' AS Date), N'IURStore2', 0, 0, 2)
SET IDENTITY_INSERT [dbo].[MaterialMasterList] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialSubCategory] ON 

INSERT [dbo].[MaterialSubCategory] ([MSubCategoryID], [MaterialSubCategory], [MID]) VALUES (5, N'12 way SPN Electrical Distribution box', 1)
INSERT [dbo].[MaterialSubCategory] ([MSubCategoryID], [MaterialSubCategory], [MID]) VALUES (6, N'1x 18 watts 2'' Tube light', 1)
INSERT [dbo].[MaterialSubCategory] ([MSubCategoryID], [MaterialSubCategory], [MID]) VALUES (7, N'2x 36 watts Tube light Box type fittings', 1)
SET IDENTITY_INSERT [dbo].[MaterialSubCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderItems] ON 

INSERT [dbo].[PurchaseOrderItems] ([POItemID], [PONumber], [QtyOrdered], [QtyReceived], [Description], [UnitPrice], [Total], [VendorID], [Remarks], [VendorEmail], [AcceptedQty], [RejectedQty], [Unit], [Make], [ExpiryDate], [AuditorID], [UniversityID]) VALUES (1, 1, 10, 7, N'Chairs', CAST(1500.00 AS Decimal(18, 2)), CAST(10500.00 AS Decimal(18, 2)), NULL, N'Received less qty kjje2b', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[PurchaseOrderItems] ([POItemID], [PONumber], [QtyOrdered], [QtyReceived], [Description], [UnitPrice], [Total], [VendorID], [Remarks], [VendorEmail], [AcceptedQty], [RejectedQty], [Unit], [Make], [ExpiryDate], [AuditorID], [UniversityID]) VALUES (2, 2, 10, 8, N'Chairs', CAST(1500.00 AS Decimal(18, 2)), CAST(12000.00 AS Decimal(18, 2)), NULL, N'Received less qty', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[PurchaseOrderItems] ([POItemID], [PONumber], [QtyOrdered], [QtyReceived], [Description], [UnitPrice], [Total], [VendorID], [Remarks], [VendorEmail], [AcceptedQty], [RejectedQty], [Unit], [Make], [ExpiryDate], [AuditorID], [UniversityID]) VALUES (3, 3, 10, 0, N'Chairs', CAST(1500.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[PurchaseOrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 

SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([SNO], [EmpID], [AssetType], [MaterialCategory], [MSubCategory], [RequestingQuantity], [ApprovedQuantity], [IssuingQuantity], [RequestDate], [HODID], [Status], [StoreAdminID], [RequestID], [AvailableQuantity], [PendingQuantity], [Remarks], [ClosingQuantity], [IssuedDate], [IssuedBy], [Issue], [UniversityID]) VALUES (1, N'3', N'Physical', N'IT Equipment', N'Printers', 20, 20, 20, CAST(N'2025-03-19T17:37:20.900' AS DateTime), N'2', N'Issued', N'2', 1, -126, 0, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[Request] ([SNO], [EmpID], [AssetType], [MaterialCategory], [MSubCategory], [RequestingQuantity], [ApprovedQuantity], [IssuingQuantity], [RequestDate], [HODID], [Status], [StoreAdminID], [RequestID], [AvailableQuantity], [PendingQuantity], [Remarks], [ClosingQuantity], [IssuedDate], [IssuedBy], [Issue], [UniversityID]) VALUES (2, N'3', N'Physical', N'IT Equipment', N'Computers', 20, 20, 20, CAST(N'2025-03-20T10:27:13.713' AS DateTime), N'2', N'Issued', N'2', 2, 80, 0, NULL, NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[SavetoCentral] ON 

INSERT [dbo].[SavetoCentral] ([ID], [LocalID], [UniversityID], [CentralID], [Material], [Order Quantity], [RequestedDate], [Status], [PurchaseDepartmentUploads], [IUCDID], [IUCDApprovedQty], [IUCDApprovalDoc]) VALUES (1, N'IURLPD4', 2, N'IURCPD1', N'LCD Projector', 10, CAST(N'2025-06-16T16:47:32.787' AS DateTime), N'Sent for Purchase', N'~/UploadedCertificates/Detailed Issue Report_20250616164732.pdf', N'2025IUCD1', 7, NULL)
INSERT [dbo].[SavetoCentral] ([ID], [LocalID], [UniversityID], [CentralID], [Material], [Order Quantity], [RequestedDate], [Status], [PurchaseDepartmentUploads], [IUCDID], [IUCDApprovedQty], [IUCDApprovalDoc]) VALUES (2, N'IURLPD4', 2, N'IURCPD1', N'Computer Set', 5, CAST(N'2025-06-16T16:48:07.230' AS DateTime), N'Sent for Purchase', N'~/UploadedCertificates/Detailed Issue Report_20250616164807.pdf', N'2025IUCD1', 3, NULL)
INSERT [dbo].[SavetoCentral] ([ID], [LocalID], [UniversityID], [CentralID], [Material], [Order Quantity], [RequestedDate], [Status], [PurchaseDepartmentUploads], [IUCDID], [IUCDApprovedQty], [IUCDApprovalDoc]) VALUES (3, N'IURLPD4', 2, N'IURCPD1', N'Computer Set', 10, CAST(N'2025-06-17T14:27:23.330' AS DateTime), N'Sent for Purchase', N'~/UploadedCertificates/Detailed Issue Report_20250617142723.pdf', N'2025IUCD1', 5, NULL)
SET IDENTITY_INSERT [dbo].[SavetoCentral] OFF
GO
SET IDENTITY_INSERT [dbo].[StoreAdmin] ON 

INSERT [dbo].[StoreAdmin] ([SAID], [FirstName], [LastName], [EmailID], [PhoneNumber], [UniversityID], [DepName], [DepID], [StoreAdminID]) VALUES (1, N'Shiva', N'upputuri', N'sivaprasadu.btech2021@iuraipur.edu.in', N'9573857287', 1, N'StoreDepartment', 6, N'1')
INSERT [dbo].[StoreAdmin] ([SAID], [FirstName], [LastName], [EmailID], [PhoneNumber], [UniversityID], [DepName], [DepID], [StoreAdminID]) VALUES (2, N'John', N'Doe', N'flute0782@gmail.com', N'9876543210', 2, N'StoreDepartment', 7, N'IURStore2')
INSERT [dbo].[StoreAdmin] ([SAID], [FirstName], [LastName], [EmailID], [PhoneNumber], [UniversityID], [DepName], [DepID], [StoreAdminID]) VALUES (3, N'Ram', N'Gajala', N'ram@gmail.com', N'1234567890', 3, N'StoreDepartment', 8, N'3')
SET IDENTITY_INSERT [dbo].[StoreAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[TempSelectedMaterials] ON 

INSERT [dbo].[TempSelectedMaterials] ([ID], [UserID], [MaterialSubCategory], [Status], [UniversityID]) VALUES (1, N'4', N'Desks', N'Sent', N'2')
INSERT [dbo].[TempSelectedMaterials] ([ID], [UserID], [MaterialSubCategory], [Status], [UniversityID]) VALUES (2, N'4', N'Chairs', N'Sent', N'2')
INSERT [dbo].[TempSelectedMaterials] ([ID], [UserID], [MaterialSubCategory], [Status], [UniversityID]) VALUES (3, N'4', N'Computers', N'Sent', N'2')
SET IDENTITY_INSERT [dbo].[TempSelectedMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[University] ON 

INSERT [dbo].[University] ([UniversityId], [UniversityName], [Address], [UniversityPhone], [UniversityEmail]) VALUES (1, N'ICFAI University Raipur', N'Kumhari, Raipur - 490042, Chattisgarh', N'04023479725', N'info@ifheindia.org')
INSERT [dbo].[University] ([UniversityId], [UniversityName], [Address], [UniversityPhone], [UniversityEmail]) VALUES (2, N'ICFAI University Hyderabad', N'Donthanapally, Hyderabad - 501203, Telangana', N'04023479725', N'info@ifheindia.org')
INSERT [dbo].[University] ([UniversityId], [UniversityName], [Address], [UniversityPhone], [UniversityEmail]) VALUES (3, N'ICFAI ', N'The ICFAI University, India.', NULL, NULL)
SET IDENTITY_INSERT [dbo].[University] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [Role], [CreatedDate]) VALUES (1, N'Shiva', N'shivaupputuri5@gamail.com', N'9573857287', N'NodelAdmin', CAST(N'2025-10-01T12:32:04.380' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [Role], [CreatedDate]) VALUES (3, N'Prasad', N'flute7836@gamail.com', N'9573857287', N'NodelOfficer', CAST(N'2025-10-01T12:40:04.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VendorDetails] ON 

INSERT [dbo].[VendorDetails] ([VID], [EmailID], [PhoneNumber], [Material], [PricePerUnit], [Address], [UniversityID], [VendorID], [GSTNO], [PanNumber], [VendorName], [GSTPercentage]) VALUES (1, N'shivaupputuri5@gmail.com', N'9876543210', N'12 way SPN Electrical Distribution box', CAST(1000.00 AS Decimal(10, 2)), N'Hyderabad', 2, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[VendorDetails] ([VID], [EmailID], [PhoneNumber], [Material], [PricePerUnit], [Address], [UniversityID], [VendorID], [GSTNO], [PanNumber], [VendorName], [GSTPercentage]) VALUES (2, N'shivaupputuri5@gmail.com', N'9876543211', N'1x 18 watts 2'' Tube light', CAST(500.00 AS Decimal(10, 2)), N'Hyderabad', 2, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[VendorDetails] ([VID], [EmailID], [PhoneNumber], [Material], [PricePerUnit], [Address], [UniversityID], [VendorID], [GSTNO], [PanNumber], [VendorName], [GSTPercentage]) VALUES (3, N'shivaupputuri5@gmail.com', N'9876543212', N'2x 36 watts Tube light Box type fittings', CAST(1200.00 AS Decimal(10, 2)), N'Hyderabad', 2, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VendorDetails] OFF
GO
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded', 45, NULL)
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded:2025-09-26', 1, CAST(N'2025-10-26T06:21:01.923' AS DateTime))
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded:2025-09-29', 1, CAST(N'2025-10-29T06:16:06.343' AS DateTime))
GO
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:low-stock-check', N'CreatedAt', N'2025-05-07T10:02:02.2016376Z', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:low-stock-check', N'Cron', N'0 10 * * *', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:low-stock-check', N'Job', N'{"Type":"WebApplication5.Models.StockAlertService, WebApplication5, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null","Method":"CheckLowStock","ParameterTypes":"[]","Arguments":"[]"}', NULL)
GO
SET IDENTITY_INSERT [HangFire].[Job] ON 

INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (44, 132, N'Succeeded', N'{"Type":"WebApplication5.Models.StockAlertService, WebApplication5, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null","Method":"CheckLowStock","ParameterTypes":"[]","Arguments":null}', N'[]', CAST(N'2025-10-16T09:23:23.470' AS DateTime), CAST(N'2025-10-17T09:23:29.147' AS DateTime))
INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (45, 135, N'Succeeded', N'{"Type":"WebApplication5.Models.StockAlertService, WebApplication5, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null","Method":"CheckLowStock","ParameterTypes":"[]","Arguments":null}', N'[]', CAST(N'2025-10-17T04:47:30.560' AS DateTime), CAST(N'2025-10-18T04:47:35.783' AS DateTime))
SET IDENTITY_INSERT [HangFire].[Job] OFF
GO
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (44, N'CurrentCulture', N'"en-IN"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (44, N'CurrentUICulture', N'"en-US"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (44, N'RecurringJobId', N'"low-stock-check"')
GO
INSERT [HangFire].[Schema] ([Version]) VALUES (9)
GO
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'cithp01:8872:7055c74d-cf67-4042-b7b6-aa102f8da4b0', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2025-10-17T04:47:30.1879008Z"}', CAST(N'2025-10-17T09:23:05.277' AS DateTime))
GO
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1760761800, N'low-stock-check', NULL)
GO
SET IDENTITY_INSERT [HangFire].[State] ON 

INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (130, 44, N'Enqueued', N'Triggered by recurring job scheduler', CAST(N'2025-10-16T09:23:23.523' AS DateTime), N'{"EnqueuedAt":"2025-10-16T09:23:23.4895910Z","Queue":"default"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (131, 44, N'Processing', NULL, CAST(N'2025-10-16T09:23:23.957' AS DateTime), N'{"StartedAt":"2025-10-16T09:23:23.5727129Z","ServerId":"cithp01:15672:94ac7368-866c-4a60-a54b-1064c56318e1","WorkerId":"2f901e30-0ef2-46e9-a30d-09359290572a"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (132, 44, N'Succeeded', NULL, CAST(N'2025-10-16T09:23:29.147' AS DateTime), N'{"SucceededAt":"2025-10-16T09:23:29.1305740Z","PerformanceDuration":"5162","Latency":"502"}')
SET IDENTITY_INSERT [HangFire].[State] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AssetQua__048A0008C08D7EB1]    Script Date: 17-10-2025 17:07:44 ******/
ALTER TABLE [dbo].[AssetQuantities] ADD UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__7ED91AEE2831DC12]    Script Date: 17-10-2025 17:07:44 ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [UQ__Employee__7ED91AEE2831DC12] UNIQUE NONCLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HOD__7ED91AEEE344573D]    Script Date: 17-10-2025 17:07:44 ******/
ALTER TABLE [dbo].[HOD] ADD  CONSTRAINT [UQ__HOD__7ED91AEEE344573D] UNIQUE NONCLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StoreAdm__7ED91AEE589BE6ED]    Script Date: 17-10-2025 17:07:44 ******/
ALTER TABLE [dbo].[StoreAdmin] ADD  CONSTRAINT [UQ__StoreAdm__7ED91AEE589BE6ED] UNIQUE NONCLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__32C52A78AB69A508]    Script Date: 17-10-2025 17:07:44 ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__7ED91AEEFD81FB26]    Script Date: 17-10-2025 17:07:44 ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534052AF9D0]    Script Date: 17-10-2025 17:07:44 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_AggregatedCounter_ExpireAt]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_AggregatedCounter_ExpireAt] ON [HangFire].[AggregatedCounter]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Hash_ExpireAt]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Hash_ExpireAt] ON [HangFire].[Hash]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Job_ExpireAt]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_ExpireAt] ON [HangFire].[Job]
(
	[ExpireAt] ASC
)
INCLUDE([StateName]) 
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Job_StateName]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_StateName] ON [HangFire].[Job]
(
	[StateName] ASC
)
WHERE ([StateName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_List_ExpireAt]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_List_ExpireAt] ON [HangFire].[List]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Server_LastHeartbeat]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Server_LastHeartbeat] ON [HangFire].[Server]
(
	[LastHeartbeat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Set_ExpireAt]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_ExpireAt] ON [HangFire].[Set]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Set_Score]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_Score] ON [HangFire].[Set]
(
	[Key] ASC,
	[Score] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_State_CreatedAt]    Script Date: 17-10-2025 17:07:44 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_State_CreatedAt] ON [HangFire].[State]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssetMaster] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[AssetMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AssetQuantities] ADD  DEFAULT ((0)) FOR [IsQRIssued]
GO
ALTER TABLE [dbo].[AssetQuantities] ADD  DEFAULT ((0)) FOR [IsExpired]
GO
ALTER TABLE [dbo].[Buildings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeIssueMaterial] ADD  CONSTRAINT [DF_EmployeeIssueMaterial_IssuedDate]  DEFAULT (getdate()) FOR [IssuedDate]
GO
ALTER TABLE [dbo].[HODRequest] ADD  DEFAULT (getdate()) FOR [RequestedDate]
GO
ALTER TABLE [dbo].[IssuedQRDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Logins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Logins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MaterialAvailable] ADD  DEFAULT (getdate()) FOR [ReceivedDate]
GO
ALTER TABLE [dbo].[MaterialMasterList] ADD  CONSTRAINT [DF_MaterialMasterList_UpdatedDate]  DEFAULT (getdate()) FOR [MaterialUpdatedDate]
GO
ALTER TABLE [dbo].[MaterialMasterList] ADD  DEFAULT ((0)) FOR [MinimumLimit]
GO
ALTER TABLE [dbo].[MaterialMasterList] ADD  DEFAULT ((0)) FOR [IsLowStockAlertSent]
GO
ALTER TABLE [dbo].[MaterialStock] ADD  DEFAULT (getdate()) FOR [ReceivedDate]
GO
ALTER TABLE [dbo].[MaterialStock] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [PODate]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Request] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AssetMaster]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetQuantities]  WITH CHECK ADD FOREIGN KEY([AssetID])
REFERENCES [dbo].[AssetMaster] ([AssetID])
GO
ALTER TABLE [dbo].[AssetQuantities]  WITH CHECK ADD FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Buildings] ([BuildingID])
GO
ALTER TABLE [dbo].[Buildings]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CentralPurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_CentralPurchaseOrderItems_CentralPurchaseOrder] FOREIGN KEY([PONumber])
REFERENCES [dbo].[CentralPurchaseOrder] ([PONumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CentralPurchaseOrderItems] CHECK CONSTRAINT [FK_CentralPurchaseOrderItems_CentralPurchaseOrder]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_University]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepID])
REFERENCES [dbo].[Department] ([DepID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_University]
GO
ALTER TABLE [dbo].[HOD]  WITH CHECK ADD  CONSTRAINT [FK_HOD_Department] FOREIGN KEY([DepID])
REFERENCES [dbo].[Department] ([DepID])
GO
ALTER TABLE [dbo].[HOD] CHECK CONSTRAINT [FK_HOD_Department]
GO
ALTER TABLE [dbo].[HOD]  WITH CHECK ADD  CONSTRAINT [FK_HOD_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[HOD] CHECK CONSTRAINT [FK_HOD_University]
GO
ALTER TABLE [dbo].[LocalAccountant]  WITH CHECK ADD FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[LocalAuditor]  WITH CHECK ADD  CONSTRAINT [FK_Auditor_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[LocalAuditor] CHECK CONSTRAINT [FK_Auditor_University]
GO
ALTER TABLE [dbo].[LocalPurchaseDepartment]  WITH CHECK ADD FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[MaterialCategory]  WITH CHECK ADD  CONSTRAINT [FK_MaterialCategory_MaterialCategory] FOREIGN KEY([AssetTypeID])
REFERENCES [dbo].[AssetType] ([AssetTypeID])
GO
ALTER TABLE [dbo].[MaterialCategory] CHECK CONSTRAINT [FK_MaterialCategory_MaterialCategory]
GO
ALTER TABLE [dbo].[MaterialStock]  WITH CHECK ADD  CONSTRAINT [FK_StockAvailablity_MaterialMaster] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[MaterialMasterList] ([MasterListID])
GO
ALTER TABLE [dbo].[MaterialStock] CHECK CONSTRAINT [FK_StockAvailablity_MaterialMaster]
GO
ALTER TABLE [dbo].[MaterialSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_MaterialSubCategory_Material] FOREIGN KEY([MID])
REFERENCES [dbo].[MaterialCategory] ([MID])
GO
ALTER TABLE [dbo].[MaterialSubCategory] CHECK CONSTRAINT [FK_MaterialSubCategory_Material]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD FOREIGN KEY([PONumber])
REFERENCES [dbo].[PurchaseOrders] ([PONumber])
GO
ALTER TABLE [dbo].[StoreAdmin]  WITH CHECK ADD  CONSTRAINT [FK_StoreAdmin_DepID] FOREIGN KEY([DepID])
REFERENCES [dbo].[Department] ([DepID])
GO
ALTER TABLE [dbo].[StoreAdmin] CHECK CONSTRAINT [FK_StoreAdmin_DepID]
GO
ALTER TABLE [dbo].[StoreAdmin]  WITH CHECK ADD  CONSTRAINT [FK_StoreAdmin_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[StoreAdmin] CHECK CONSTRAINT [FK_StoreAdmin_University]
GO
ALTER TABLE [dbo].[VendorDetails]  WITH CHECK ADD  CONSTRAINT [FK_University1] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[University] ([UniversityId])
GO
ALTER TABLE [dbo].[VendorDetails] CHECK CONSTRAINT [FK_University1]
GO
ALTER TABLE [HangFire].[JobParameter]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_JobParameter_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[JobParameter] CHECK CONSTRAINT [FK_HangFire_JobParameter_Job]
GO
ALTER TABLE [HangFire].[State]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_State_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[State] CHECK CONSTRAINT [FK_HangFire_State_Job]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD CHECK  (([ApprovedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD CHECK  (([IssuingQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD CHECK  (([RequestingQuantity]>(0)))
GO
USE [master]
GO
